* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: white; */
    font-family: 'Roboto', sans-serif;
    

}
/* Section: Landing page */
.landing{
    width: 100%;
    height: 90vh;
    background-color: darkblue;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    
}
/* Navigation area */
.nav_area{
    background-color: transparent;
    height: 10vh;
    
}
.navigations{
    position: fixed;
    background-color: lightgray;
    height: 300px;
    width: 250px;
    top: 4%;
    right: 2%;
    display: none;

}
.navigations.open{
    position: fixed;
    background-color: lightgray;
    height: 300px;
    width: 250px;
    top: 4%;
    right: 2%;
    display: block;

}
.navigations ul{
    list-style: none;
    margin-top: 5px;
    
}
.navigations ul a{
    text-decoration: none;
    color: grey;
    
}
.navigations ul li{
   margin: 20px auto;
   text-align: center;
}
/* Hamburger */
.hamburger{
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
    /* transform: translate(-5%, -50%); */
    z-index: 2;
}

.line{
    height: 3px;
    width: 30px;
    background-color: grey;
    margin: 5px;
    
}
/* Page: Index */
.welcome_container{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    
    
}
.myphoto{
    height: 100px;
    width: 100px;
    background: url(/img/_MG_9047-Edit.JPG) center center/cover no-repeat;
    border-radius: 50%;
    
}

.space{
    width: 100;
    height: 1vh;
    background-color: lightgray;
}
/* Section: Footer */
footer{
    width: 100%;
    height: 9vh;
    background-color: darkblue;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.made, .copyright, .powered{
    flex: 1;
}
.made a, .made i{
    color: pink;
}

/* Page: Skills */
/* Section: Landing */
.landing_skills{
    width: 100%;
    height: 90vh;
    background-color: darkblue;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.skill_page_title{
    text-align: center;
    color: whitesmoke;
}
.skill_page_para{
    text-align: center;
    
}

.skillbtn{
    display: flex;
    justify-content: center;
    margin-top: 1rem;

}
.coding_skill_btn{
    background-color: lightgrey;
    padding: 0.5rem 2rem;
    margin-right: 0.5rem;
    cursor: pointer;
    border-radius: 10px 0 10px 0px;
    font-weight: bold;
}
.biz_skill_btn{
    background-color: lightgrey;
    padding: 0.5rem 2rem;
    margin-right: 0.5rem;
    cursor: pointer;
    border-radius: 0 10px 0 10px;
    font-weight: bold;
}
.skill_flex_container{
    display: flex;
    justify-content: center;
}
.skill_area{
    height: 60vh;
    width: 90%;
    display: flex;
    justify-content: center;
}
/* Section : coding skills */
.coding_skills{
    display: none;
    justify-content: center;
    margin-top: 0.5rem;
    height: 100%;
    width: 60%;
    position: relative;
    animation: codeskill;
    animation-duration: 3s;
    
}
.coding_skills.show{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    height: 100%;
    width: 60%;
    position: relative;
    animation: codeskill;
    animation-duration: 3s;
    
}
@keyframes codeskill{
    0% {left: -150px}
    100% {left: 0px}
}
.front-end, .backend-end{
    height: 100%;
    width: 50%;
    /* display: flex; */
    justify-content: center;
    border: solid 2px lightgrey;
}
.backend-end{
    margin-left: 0.5rem;
}
.frontend_title, .backend_title, .biz_skills_title{
    background-color: whitesmoke;
    width: 100%;
    height: 5%;
    text-align: center;
    font-weight: bold;
    
}
.biz_skills{
    height: 100%;
    width: 60%;
    display: block;
    /* justify-content: center; */
    border: solid 2px lightgrey;
    margin-top: 0.5rem;
    position: relative;
    animation: bizskill;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes bizskill{
    0% {left: -150px}
    100% {left: 0px}
}
.biz_skills.show{
    height: 100%;
    width: 60%;
    display: none;
    justify-content: center;
    border: solid 2px lightgrey;

}
.biz_skill_body{
    padding: 1.5rem;
    display: flex;
    color: white;
    font-size: 1.2rem;
}
.biz_skill_left, .biz_skill_right{
    flex: 1;

}
/* Section: code skill photo area */
.firstrow, .firstrow2, .firstrow3, .firstrow4, .firstrow_back1, .firstrow_back2, .firstrow_back3, .firstrow_back4{
    display: flex;
    width: 100%;
    height: 22%;
    text-align: center;
    font-weight: bold;
    margin-top: 0.2rem;
    justify-content: space-around;
    
}
.skill_container{
    height: 100%;
    width: 100%;
    flex: 1;
    color: white;
    
}
.skill_container img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
/* Page: Portfolio */
.landing_portfolio{
    width: 100%;
    height: 90vh;
    background-color: darkblue;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.portfolio_page_title{
    text-align: center;
    color: whitesmoke;
}
.portfolio_page_para{
    text-align: center;
    color: lightgrey;
    font-size: 18px;
    
}
.portfolio_flex_container{
    display: flex;
    justify-content: center;
}

.portfolio_area{
    height: 75vh;
    width: 90%;
    display: flex;
    justify-content: center;
}
.portfolio_container{
    height: 98%;
    width: 60%;
    display: block;
    /* justify-content: center; */
    border: solid 2px lightgrey;
    margin-top: 0.5rem;
    position: relative;
    animation: portcont;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes portcont{
    0% {left: -150px}
    100% {left: 0px}
}

.portfolio_body{
    padding: 0.1rem;
    color: white;
    font-size: 1.2rem;
 
}

.portfolio_firstrow, .portfolio_secondrow{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    
}
.site_size{
    /* flex: 1; */
    border: 1px white solid;
    
}
.site_size img{
    width:350px;
    height: 150px;
}
.site_visit a{
    color: gray;
    
}
.site_stack{
    color: grey;
    font-size: 16px;
}
/* Page: Interests */
.landing_interest{
    width: 100%;
    height: 90vh;
    background-color: darkblue;
    
    /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
    
}
.interest_page_title{
    text-align: center;
    color: white;
}
.interest_page_para{
    text-align: center;
    color: lightgray;
    font-size: 18px;
}
.interest_flex_container{
    display: flex;
    justify-content: center;
}

.interest_area{
    height: 75vh;
    width: 90%;
    display: flex;
    justify-content: center;
}
.interest_container{
    height: 95%;
    width: 60%;
    display: block;
    /* justify-content: center; */
    border: solid 2px lightgrey;
    margin-top: 0.5rem;
    position: relative;
    animation: interestcont;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes interestcont{
    0% {left: -150px}
    100% {left: 0px}
}

/* .interest_body{
    padding: 0.1rem;
    color: white;
    font-size: 1.2rem;
} */
.interest_firstrow, .interest_secondrow, .interest_thirdrow{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.int1{
    flex: 1;
}
.int1 i{
    color: lightgray;
    
    
}
.int1 h5{
    color: lightgray;
    
}
/* Page: Work Experience */
.landing_experience{
    width: 100%;
    height: 100%;
    background-color: darkblue;
    /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
}
.experience_title{
    color: white;
    text-align: center;
}
.experience_para{
    color: lightgray;
    text-align: center;
}
.experience_body{
    display: flex;
    justify-content: center;
    
}
.experience_area{
    width: 95%;
    height: 95%;
    display: flex;
    
}
.experience1, .experience2{
    margin: 5px 10px;
    flex: 1;
}
.role{
    color: white;
    font-style: italic;
    
}
.company{
    color: lightgray;
}
.company h3{
    color: grey;
}
.responsibility, .acheivment{
    color: lightgray;
}
.acheivment a{
    color: grey;
    font-weight: bold;
}
.resp, .acheive{
    font-weight: bold;
}

@media screen and (max-width: 668px){
    .experience_area{
        width: 95%;
        height: 95%;
        display: block;
        
    }
    .experience1, .experience2{
        margin: 5px 10px;
        
    }
    footer{
        display: block;
    }
    .made, .copyright, .powered{
        margin:5px auto;
    }
}