* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    

}
/* Section: Landing page */
.landing{
    width: 100%;
    height: 90vh;
    background-color: darkblue;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    
}
.welcome_container{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    
    
}
.myphoto{
    height: 100px;
    width: 100px;
    background: url(/img/_MG_9047-Edit.JPG) center center/cover no-repeat;
    border-radius: 50%;
    
}

.space{
    width: 100;
    height: 1vh;
    background-color: lightgray;
}
/* Section: Footer */
footer{
    width: 100%;
    height: 9vh;
    background-color: darkblue;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.made, .copyright, .powered{
    flex: 1;
}
.made a, .made i{
    color: pink;
}

/* Page: Skills */
/* Section: Landing */
.landing_skills{
    width: 100%;
    height: 90vh;
    background-color: darkblue;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.skill_page_title{
    text-align: center;
}
.skill_page_para{
    text-align: center;
}